{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

<div><!-- Recent Posts -->
    {% load blog_tags keyword_tags i18n %}
    {% blog_recent_posts 5 as recent_posts %}
    {% if recent_posts %}
        <h3>{% trans "Recent Posts" %}</h3>
        {% for recent_post in recent_posts %}
            <h4>
                <a class="text-capitalize" href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
                <small style="padding-left:10px;">{{ recent_post.publish_date|timesince }} {% trans "ago" %}</small>
            </h4>
            <div class="recent-summary">
                {{ recent_post.description_from_content|safe }}
            </div>
            <hr>
        {% endfor %}
    {% endif %}
</div><!-- Recent Posts -->


{% endblock %}
